@import "vars.css";
@font-face {
    font-family: 'Roboto Mono', monospace, 'Times New Roman', serif;
    src: url(../assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

* {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: var(--text-color, white);
    background-color: var(--background-color, black);
}

h1 {
    font-weight: 900;
}

strong, em {
    color: var(--bold-text-color, thistle);
    font-weight: bolder;
}

header {
    display: flex;  
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
}

picture {
    margin-left: 0.5rem;
    border: 3px solid var(--border-color, white);
    border-radius: 100%;
    overflow: hidden;
    & source, & img{
        height: 4rem;
        width: auto;
    }
}


#header_nav a{
    padding: 0 0.6dvw 0;
    text-decoration: none;
    border-radius: 1rem;
    transition: background-color 0.5s ease-out;
}

#header_nav {
    margin-right: .5dvw;
}

#header_nav a:hover {
    background-color: var(--hover-color, thistle);
}

main section {
    padding: 2dvh 0 2dvh;
    margin: 0 9dvw 0;
}

section p {
    font-size: 1.5rem;
}

#external_links {    
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
}

#external_links a {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.563rem 3rem;
    margin: 1rem 0;
    background-color: var(--button-color, purple);
    border: 3px solid var(--border-color, white);
    width: 10rem;
    border-radius: 1rem;  
    transition: background-color 0.5s ease-out;  
}

#external_links a:hover {
    background-color: var(--hover-color, thistle);
}

#projects > h2 {
    font-size: 2rem;
    font-weight: 700;
}

#projects > h3 {
    font-weight: 600;
}

#projects a {
    transition: color 0.5s ease-out;
}

#projects a:hover {
    color: var(--hover-color, thistle);
}

aside {
    width: 20%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px var(--bold-text-color, thistle);
}

footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.back_to_top_button {
    width: 9rem;
    height: auto;
    border: 3px solid var(--border-color, white);
    background-color: var(--button-color, purple);
    border-radius: 1rem;
    transition: background-color 0.5s ease-out;

}

.back_to_top_button:hover {
    background-color: var(--hover-color, thistle);
    cursor: pointer;
}

#contact_me, #contact_me_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2dvh 0 2dvh;
    margin: 0 9dvw 0;
}

#contact_me_form input, textarea {
    background-color: var(--hover-color, thistle);
    border: 3px solid var(--border-color, white);
    border-radius: 1rem;
    width: 20rem;
    height: 2rem;
}

#contact_me_form textarea {
    width: 20rem;
    height: 20rem;
}

#contact_me_form input:focus, textarea:focus {
    background-color: var(--focus-color, white);
    color: var(--form-text-color, black);
}

#contact_me_form button {
    background-color: var(--button-color, purple);
    border: 3px solid var(--border-color, white);
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    transition: background-color 0.5s ease-out;
}

#contact_me_form button:hover {
    background-color: var(--hover-color, thistle);
    cursor: pointer;
}

#resume_button {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    padding: 1rem 2rem;
    background-color: var(--button-color, purple);
    border: 3px solid var(--border-color, white);
    width: 10rem;
    border-radius: 1rem;
    margin: 0 1rem 1rem;
    max-width: 31%;
    transition: background-color 0.5s ease-out;
}

#resume_button:hover {
    background-color: var(--hover-color, thistle);
    cursor: pointer;
}

#resume_details {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#resume_details details > summary {
    text-align: center;
    list-style: none;
}

#resume_details details > summary::-webkit-details-marker {
    list-style: none;
}

#resume_details details {
    border: 3px solid var(--border-color, white);
    border-radius: 1rem;
    padding: 1rem 0.5rem;
    margin: 1rem;
    width: 60dvw;
    max-width: 40%;
    background-color: var(--button-color, purple);
    transition: background-color 0.5s ease-out;
}

#resume_details summary:hover {
    cursor: pointer;
    background-color: var(--hover-color, thistle);
}

#resume_details details:hover summary {
    background-color: var(--hover-color, thistle);
}

#resume_details details:hover:not([open]) {
    background-color: var(--hover-color, thistle); 
}

#resume_details details[open] {
    background-color: var(--background-color), black;
    transition: none;
}

#resume_details details[open] summary {
    background-color: var(--background-color, black);
    transition: none;
}

#resume_details summary {
    background-color: var(--button-color, purple);
    transition: background-color 0.5s ease-out;
}

#education h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

.relevant_courses_title {
    font-weight: 600;
    font-size: 1.5rem;
}

#education section {
    margin-left: 0.5rem;
}

#languages_frameworks_table, #devtools_table {
    border-collapse: collapse;
    border: 3px solid var(--border-color, white);
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

#languages_frameworks_table td, #devtools_table td {
    border: 3px solid var(--border-color, white);
    padding: 0.5rem;
}

#technical_skills {
    align-items: center;
}

table caption {
    margin: 1rem 0 0.3rem;
    font-weight: 600;
}

#languages_frameworks_table th, #devtools_table th {
    border: 3px solid var(--border-color, white);
    padding: 0.5rem;
    font-weight: 500;
}

@media (max-width: 850px) {
    header {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 50%;
        padding-left: 0.5rem;
        margin-left: 0.5rem;
        float: right;
        box-shadow: inset 5px 0 5px -5px var(--bold-text-color, thistle);
    }

    #resume_details details {
        max-width: 70%;
    }

}