:root {
    --background-color: #000000;
    --text-color: #FFFFFF;
    --bold-text-color: rgb(144, 67, 191);
    --button-color: rgb(144, 67, 191);
    --input-color: rgb(144, 67, 191);
    --input-text-color: color(display-p3 0.05 0.02 0.20);
    --hover-color: color(display-p3 0.67 0.63 0.94);
    --border-color: #FFFFFF;
    --focus-color: #FFFFFF;
    --error-color: rgb(255, 77, 77);
    --info-color: rgb(109 223 78);
    --sun-moon-color: #fff000;
    --star-color: gray;
    --hover-star-color: white;
}

[data-theme="light"] {
    --text-color: color(display-p3 0.05 0.02 0.20);
    --background-color: #ffffffbc;
    --border-color: black;
    --button-color: lightgray;
    --bold-text-color: black;
    --focus-color: white;
    --hover-color: lightblue;
    --input-color: lightgray;   
    --input-text-color: black;
    --hover-star-color: black;
}