:root {
    --background-color: color(display-p3, 0.05, 0.02, 0.20);
    --text-color: #FFFFFF;
    --bold-text-color: color(display-p3 0.67 0.63 0.94);
    --button-color: color(display-p3 0.34 0.29 0.70);
    --hover-color: color(display-p3 0.67 0.63 0.94);
    --border-color: #FFFFFF;
    --focus-color: #FFFFFF;
    --form-text-color: color-mix(in hsl longer hue, rgb(140, 255, 0) 30%, mintcream);
}